[Unit]
Description=calaos-server container
After=local-fs.target
Requires=network.target
After=network.target
RequiresMountsFor=/data/calaos/cache
RequiresMountsFor=/data/calaos/config

[Service]
Restart=always
ExecStartPre=/usr/sbin/load_containers_cache.sh calaos-server ghcr.io/calaos/calaos_base:latest
KillMode=mixed
ExecStop=/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
ExecStart=/usr/bin/podman run \
        --name=calaos-server \
        --cidfile=%t/%N.cid --replace --rm --cgroups=split --tz=local \
        --sdnotify=conmon -d \
        -v /data/calaos/cache:/root/.cache/calaos/ \
        -v /data/calaos/config:/root/.config/calaos \
        --publish 5454:5454/tcp \
        --publish 4545:4545/udp \
        ghcr.io/calaos/calaos_base:latest \
        /opt/bin/calaos_server

[Install]
WantedBy=multi-user.target