[Unit]
Description=calaos-web-app container
After=calaos-server.service

[Container]
ContainerName=calaos-web-app
Image=ghcr.io/calaos/calaos-web-app:latest
PublishPort=5455:80/tcp
Timezone=local
PodmanArgs=--log-driver journald
Network=calaos.network

[Service]
Restart=always
ExecStartPre=/usr/sbin/load_containers_cache.sh calaos-web-app

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target