[Unit]
Description=calaos-server container
After=local-fs.target

[Container]
ContainerName=calaos-server
Image=ghcr.io/calaos/calaos_base:latest
PublishPort=5454:5454/tcp
PublishPort=4545:4545/udp
Volume=/data/calaos/cache:/root/.cache/calaos/
Volume=/data/calaos/config:/root/.config/calaos
Exec=/opt/bin/calaos_server
#LogDriver=journald
Timezone=local
Network=calaos.network

[Service]
Restart=always
ExecStartPre=/usr/sbin/load_containers_cache.sh calaos-server

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target