[Unit]
Description=grafana container

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana-oss:8.2.6
PublishPort=3000:300/tcp
Timezone=local
PodmanArgs=--log-driver journald
Volume=/data/grafana/data:/var/lib/grafana
Network=calaos.network

[Service]
Restart=always
ExecStartPre=-/usr/bin/mkdir -p -m 777 /data/grafana/data
ExecStartPre=/usr/sbin/load_containers_cache.sh grafana

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
