[Unit]
Description=mosquitto container

[Container]
ContainerName=mosquitto
Image=docker.io/eclipse-mosquitto:2.0.15
PublishPort=1883:1883/tcp
PublishPort=9001:9001/tcp
Timezone=local
PodmanArgs=--log-driver journald
Volume=/data/mosquitto/config:/mosquitto/config/
Network=calaos.network

[Service]
Restart=always
ExecStartPre=/usr/sbin/load_containers_cache.sh mosquitto

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target